html, body{
    margin: 0;
    padding: 0;
}
.title {
    font-size: 90px;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #1365B2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    /*margin: 0 80px;*/
    text-decoration: none;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    font-family: Raleway, Arial, sans-serif;
}

li a:hover {
    background-color: #4A4346;
}

.active {
    font-weight: 700;
    background-color: #111;
}

.navbar {
    text-align: center;
    background-color: #333;
    font-size: 0;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
    background-color: #E7E3D8;
    height: 900px;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    font-family: "Poiret One", Arial, sans-serif;
    padding-top: 15px;
}

.content {
    padding: 0 20px;
    font-family: Raleway, Arial,sans-serif;
}

.appointmentbutton{
    background-color: #333;
    font-family: "Poiret One", Arial, sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.30p;
    padding: 16px 40px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.appbuttonbox{
    text-align: center;
    position: relative;
    top: 50px;
}